In [1]:
import numpy as np
import pandas as pd

In [2]:
books = pd.read_csv('/content/Books.csv')
ratings = pd.read_csv('/content/Ratings.csv')
users = pd.read_csv('/content/Users.csv')

In [3]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [4]:
books['Image-URL-M'][1]

'http://images.amazon.com/images/P/0002005018.01.MZZZZZZZ.jpg'

In [5]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [6]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [7]:
print(books.shape)
print(ratings.shape)
print(users.shape)

(136772, 8)
(1149780, 3)
(278858, 3)

In [8]:
books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            0
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            1
dtype: int64

In [9]:
users.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [10]:
ratings.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [11]:
books.duplicated().sum()

0

In [12]:
users.duplicated().sum()

0

In [13]:
ratings.duplicated().sum()

0

In [14]:
books.describe()

       Year-Of-Publication
count        136772.000000
mean           1958.935491
std             263.468996
min               0.000000
25%            1990.000000
50%            1996.000000
75%            2000.000000
max            2050.000000

In [15]:
users.describe()

            User-ID            Age
count  278858.00000  168096.000000
mean   139429.50000      34.751434
std     80499.51502      14.428097
min         1.00000       0.000000
25%     69715.25000      24.000000
50%    139429.50000      32.000000
75%    209143.75000      44.000000
max    278858.00000     244.000000

In [16]:
ratings.describe()

            User-ID   Book-Rating
count  1.149780e+06  1.149780e+06
mean   1.403864e+05  2.866950e+00
std    8.056228e+04  3.854184e+00
min    2.000000e+00  0.000000e+00
25%    7.034500e+04  0.000000e+00
50%    1.410100e+05  0.000000e+00
75%    2.110280e+05  7.000000e+00
max    2.788540e+05  1.000000e+01

In [17]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136772 entries, 0 to 136771
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 136772 non-null  object
 1   Book-Title           136772 non-null  object
 2   Book-Author          136772 non-null  object
 3   Year-Of-Publication  136772 non-null  int64
 4   Publisher            136770 non-null  object
 5   Image-URL-S          136772 non-null  object
 6   Image-URL-M          136772 non-null  object
 7   Image-URL-L          136771 non-null  object
dtypes: int64(1), object(7)
memory usage: 8.3+ MB

In [18]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278858 entries, 0 to 278857
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   User-ID   278858 non-null  int64
 1   Location  278858 non-null  object
 2   Age       168096 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.4+ MB

In [19]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   User-ID      1149780 non-null  int64
 1   ISBN         1149780 non-null  object
 2   Book-Rating  1149780 non-null  int64
dtypes: int64(2), object(1)
memory usage: 26.3+ MB

Popularity Based Recommendation

In [20]:
ratings_with_name = ratings.merge(books,on='ISBN')

In [21]:
num_rating_df = ratings_with_name.groupby('Book-Title').count()['Book-Rating'].reset_index()
num_rating_df.rename(columns={'Book-Rating':'num_ratings'},inplace=True)
num_rating_df

                                               Book-Title  num_ratings
0        A Light in the Storm: The Civil War Diary of ...            4
1                    Apple Magic (The Collector's series)            1
2        Beyond IBM: Leadership Marketing and Finance ...            1
3                                            Dark Justice            1
4        Earth Prayers From around the World: 365 Pray...           10
...                                                   ...          ...
123603  Ã?Â?berallnie. AusgewÃ?Â¤hlte Gedichte 1928 - ...            1
123604                                     Ã?Â?bermorgen.            1
123605                     Ã?Â?rger mit Produkt X. Roman.            4
123606                              Ã?Â?stlich der Berge.            3
123607                                  Ã?Â?thique en toc            2

[123608 rows x 2 columns]

In [22]:
avg_rating_df = ratings_with_name.groupby('Book-Title').mean()['Book-Rating'].reset_index()
avg_rating_df.rename(columns={'Book-Rating':'avg_rating'},inplace=True)
avg_rating_df

                                               Book-Title  avg_rating
0        A Light in the Storm: The Civil War Diary of ...    2.250000
1                    Apple Magic (The Collector's series)    0.000000
2        Beyond IBM: Leadership Marketing and Finance ...    0.000000
3                                            Dark Justice   10.000000
4        Earth Prayers From around the World: 365 Pray...    5.000000
...                                                   ...         ...
123603  Ã?Â?berallnie. AusgewÃ?Â¤hlte Gedichte 1928 - ...   10.000000
123604                                     Ã?Â?bermorgen.    0.000000
123605                     Ã?Â?rger mit Produkt X. Roman.    5.250000
123606                              Ã?Â?stlich der Berge.    2.666667
123607                                  Ã?Â?thique en toc    4.000000

[123608 rows x 2 columns]

In [23]:
popular_df = num_rating_df.merge(avg_rating_df,on='Book-Title')
popular_df

,Book-Title,num_ratings,avg_rating
0,A Light in the Storm: The Civil War Diary of ...,4,2.250000
1,Apple Magic (The Collector's series),1,0.000000
2,Beyond IBM: Leadership Marketing and Finance ...,1,0.000000
3,Dark Justice,1,10.000000
4,Earth Prayers From around the World: 365 Pray...,10,5.000000
...,...,...,...
123603,Ã?Â?berallnie. AusgewÃ?Â¤hlte Gedichte 1928 - ...,1,10.000000
123604,Ã?Â?bermorgen.,1,0.000000
123605,Ã?Â?rger mit Produkt X. Roman.,4,5.250000
123606,Ã?Â?stlich der Berge.,3,2.666667
123607,Ã?Â?thique en toc,2,4.000000

In [24]:
popular_df[popular_df['num_ratings']>=100]

,Book-Title,num_ratings,avg_rating
368,1984,283,4.469965
398,1st to Die: A Novel,509,3.575639
486,24 Hours,104,2.394231
511,2nd Chance,355,3.261972
609,4 Blondes,151,1.947020
...,...,...,...
122615,Year of Wonders,169,4.331361
122794,You Belong To Me,123,2.731707
123276,Zen and the Art of Motorcycle Maintenance: An ...,210,3.147619
123412,Zoya,103,1.466019
123509,"\O\"" Is for Outlaw""",269,2.988848

In [25]:
popular_df[popular_df['num_ratings']>=100].sort_values('avg_rating',ascending=False).head(50)

,Book-Title,num_ratings,avg_rating
41118,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804
41110,Harry Potter and the Goblet of Fire (Book 4),387,5.824289
100350,The Little Prince,141,5.815603
41123,Harry Potter and the Sorcerer's Stone (Book 1),274,5.748175
41113,Harry Potter and the Order of the Phoenix (Boo...,346,5.488439
31150,Ender's Game (Ender Wiggins Saga (Paperback)),249,5.409639
103673,The Perks of Being a Wallflower,103,5.194175
41103,Harry Potter and the Chamber of Secrets (Book 2),556,5.183453
98062,The Hobbit : The Enchanting Prelude to The Lor...,281,5.007117
95744,The Fellowship of the Ring (The Lord of the Ri...,361,4.925208
96797,The Giver (21st Century Reference),179,4.916201
48145,Ishmael: An Adventure of the Mind and Spirit,162,4.907407
47591,Interpreter of Maladies,136,4.897059
41126,Harry Potter and the Sorcerer's Stone (Harry P...,575,4.895652
7718,Anne Frank: The Diary of a Young Girl,141,4.822695
17280,Charlotte's Web (Trophy Newbery),129,4.782946
108725,"The Two Towers (The Lord of the Rings, Part 2)",253,4.782609
103138,The Other Boleyn Girl,159,4.761006
112837,To Kill a Mockingbird,506,4.687747
93669,The Da Vinci Code,894,4.652125
85832,Stranger in a Strange Land (Remembering Tomorrow),130,4.615385
28916,Dune (Remembering Tomorrow),146,4.609589
33901,Fight Club,102,4.607843
99757,The Last Juror,116,4.603448
81600,Siddhartha,172,4.563953
4109,A Wrinkle In Time,158,4.550633
96028,The Five People You Meet in Heaven,427,4.543326
92130,The Catcher in the Rye,448,4.537946
107232,The Stand: Complete and Uncut,131,4.534351
28755,Drums of Autumn,101,4.514851
9033,Atlas Shrugged,131,4.511450
28309,Dragonfly in Amber,151,4.476821
368,1984,283,4.469965
100714,The Lovely Bones: A Novel,1295,4.468726
106511,The Shining,133,4.466165
97240,The Great Gatsby,205,4.458537
73430,Prodigal Summer: A Novel,253,4.450593
29348,East of Eden (Oprah's Book Club),134,4.447761
65595,Neverwhere,264,4.439394
106098,The Secret Life of Bees,772,4.432642
46225,Illusions: The Adventures of a Reluctant Messiah,101,4.425743
758,84 Charing Cross Road,125,4.416000
68077,On Writing,135,4.414815
103706,The Phantom Tollbooth,123,4.414634
20279,Coraline,176,4.392045
40074,Guilty Pleasures (Anita Blake Vampire Hunter (...,129,4.387597
111358,Their Eyes Were Watching God: A Novel,100,4.370000
16334,Carrie,128,4.367188
114549,"Tuesdays with Morrie: An Old Man, a Young Man,...",492,4.363821
109047,The Valley of Horses,132,4.363636

In [26]:
popular_df = popular_df[popular_df['num_ratings']>=100].sort_values('avg_rating',ascending=False).head(50)

In [27]:
popular_df = popular_df.merge(books,on='Book-Title')
popular_df

,Book-Title,num_ratings,avg_rating,ISBN,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804,0439136350,J. K. Rowling,1999,Scholastic,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...
1,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804,0439136369,J. K. Rowling,2001,Scholastic,http://images.amazon.com/images/P/0439136369.0...,http://images.amazon.com/images/P/0439136369.0...,http://images.amazon.com/images/P/0439136369.0...
2,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804,0786222743,J. K. Rowling,2000,Thorndike Press,http://images.amazon.com/images/P/0786222743.0...,http://images.amazon.com/images/P/0786222743.0...,http://images.amazon.com/images/P/0786222743.0...
3,Harry Potter and the Goblet of Fire (Book 4),387,5.824289,0439139597,J. K. Rowling,2000,Scholastic,http://images.amazon.com/images/P/0439139597.0...,http://images.amazon.com/images/P/0439139597.0...,http://images.amazon.com/images/P/0439139597.0...
4,Harry Potter and the Goblet of Fire (Book 4),387,5.824289,0439139600,J. K. Rowling,2002,Scholastic Paperbacks,http://images.amazon.com/images/P/0439139600.0...,http://images.amazon.com/images/P/0439139600.0...,http://images.amazon.com/images/P/0439139600.0...
...,...,...,...,...,...,...,...,...,...,...
150,Carrie,128,4.367188,0451131134,Stephen King,1981,Signet Book,http://images.amazon.com/images/P/0451131134.0...,http://images.amazon.com/images/P/0451131134.0...,http://images.amazon.com/images/P/0451131134.0...
151,"Tuesdays with Morrie: An Old Man, a Young Man,...",492,4.363821,0385484518,MITCH ALBOM,1997,Doubleday,http://images.amazon.com/images/P/0385484518.0...,http://images.amazon.com/images/P/0385484518.0...,http://images.amazon.com/images/P/0385484518.0...
152,"Tuesdays with Morrie: An Old Man, a Young Man,...",492,4.363821,076790592X,Mitch Albom,2002,Broadway,http://images.amazon.com/images/P/076790592X.0...,http://images.amazon.com/images/P/076790592X.0...,http://images.amazon.com/images/P/076790592X.0...
153,The Valley of Horses,132,4.363636,0553250531,JEAN M. AUEL,1984,Bantam,http://images.amazon.com/images/P/0553250531.0...,http://images.amazon.com/images/P/0553250531.0...,http://images.amazon.com/images/P/0553250531.0...
154,The Valley of Horses,132,4.363636,1567404731,Jean M. Auel,1999,Brilliance Audio,http://images.amazon.com/images/P/1567404731.0...,http://images.amazon.com/images/P/1567404731.0...,http://images.amazon.com/images/P/1567404731.0...

In [28]:
popular_df.drop_duplicates('Book-Title')[['Book-Title','Book-Author','Image-URL-M','num_ratings','avg_rating']]

,Book-Title,Book-Author,Image-URL-M,num_ratings,avg_rating
0,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,http://images.amazon.com/images/P/0439136350.0...,428,5.852804
3,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,http://images.amazon.com/images/P/0439139597.0...,387,5.824289
5,The Little Prince,Antoine de Saint-ExupÃ©ry,http://images.amazon.com/images/P/0156528207.0...,141,5.815603
10,Harry Potter and the Sorcerer's Stone (Book 1),J. K. Rowling,http://images.amazon.com/images/P/0590353403.0...,274,5.748175
13,Harry Potter and the Order of the Phoenix (Boo...,J. K. Rowling,http://images.amazon.com/images/P/043935806X.0...,346,5.488439
16,Ender's Game (Ender Wiggins Saga (Paperback)),Orson Scott Card,http://images.amazon.com/images/P/0312853238.0...,249,5.409639
20,The Perks of Being a Wallflower,Stephen Chbosky,http://images.amazon.com/images/P/0671027344.0...,103,5.194175
21,Harry Potter and the Chamber of Secrets (Book 2),J. K. Rowling,http://images.amazon.com/images/P/0439064872.0...,556,5.183453
24,The Hobbit : The Enchanting Prelude to The Lor...,J.R.R. TOLKIEN,http://images.amazon.com/images/P/0345339681.0...,281,5.007117
25,The Fellowship of the Ring (The Lord of the Ri...,J.R.R. TOLKIEN,http://images.amazon.com/images/P/0345339703.0...,361,4.925208
31,The Giver (21st Century Reference),LOIS LOWRY,http://images.amazon.com/images/P/0440219078.0...,179,4.916201
33,Ishmael: An Adventure of the Mind and Spirit,Daniel Quinn,http://images.amazon.com/images/P/0553375407.0...,162,4.907407
34,Interpreter of Maladies,Jhumpa Lahiri,http://images.amazon.com/images/P/039592720X.0...,136,4.897059
37,Harry Potter and the Sorcerer's Stone (Harry P...,J. K. Rowling,http://images.amazon.com/images/P/059035342X.0...,575,4.895652
39,Anne Frank: The Diary of a Young Girl,ANNE FRANK,http://images.amazon.com/images/P/0553296981.0...,141,4.822695
42,Charlotte's Web (Trophy Newbery),E. B. White,http://images.amazon.com/images/P/0064400557.0...,129,4.782946
43,"The Two Towers (The Lord of the Rings, Part 2)",J.R.R. TOLKIEN,http://images.amazon.com/images/P/0345339711.0...,253,4.782609
50,The Other Boleyn Girl,Philippa Gregory,http://images.amazon.com/images/P/0743227441.0...,159,4.761006
52,To Kill a Mockingbird,Harper Lee,http://images.amazon.com/images/P/0446310786.0...,506,4.687747
58,The Da Vinci Code,Dan Brown,http://images.amazon.com/images/P/0385504209.0...,894,4.652125
61,Stranger in a Strange Land (Remembering Tomorrow),Robert A. Heinlein,http://images.amazon.com/images/P/0441790348.0...,130,4.615385
62,Dune (Remembering Tomorrow),Frank Herbert,http://images.amazon.com/images/P/0441172717.0...,146,4.609589
63,Fight Club,Chuck Palahniuk,http://images.amazon.com/images/P/0805062971.0...,102,4.607843
67,The Last Juror,John Grisham,http://images.amazon.com/images/P/0385510438.0...,116,4.603448
70,Siddhartha,Hermann Hesse,http://images.amazon.com/images/P/0553208845.0...,172,4.563953
78,A Wrinkle In Time,MADELEINE L'ENGLE,http://images.amazon.com/images/P/0440498058.0...,158,4.550633
79,The Five People You Meet in Heaven,Mitch Albom,http://images.amazon.com/images/P/0786868716.0...,427,4.543326
80,The Catcher in the Rye,J.D. Salinger,http://images.amazon.com/images/P/0316769487.0...,448,4.537946
86,The Stand: Complete and Uncut,Stephen King,http://images.amazon.com/images/P/0451169530.0...,131,4.534351
87,Drums of Autumn,DIANA GABALDON,http://images.amazon.com/images/P/044022425X.0...,101,4.514851
91,Atlas Shrugged,Ayn Rand,http://images.amazon.com/images/P/0451191145.0...,131,4.511450
95,Dragonfly in Amber,DIANA GABALDON,http://images.amazon.com/images/P/0440215625.0...,151,4.476821
98,1984,George Orwell,http://images.amazon.com/images/P/0451524934.0...,283,4.469965
106,The Lovely Bones: A Novel,Alice Sebold,http://images.amazon.com/images/P/0316666343.0...,1295,4.468726
107,The Shining,Stephen King,http://images.amazon.com/images/P/0743424425.0...,133,4.466165
112,The Great Gatsby,F. Scott Fitzgerald,http://images.amazon.com/images/P/185326041X.0...,205,4.458537
114,Prodigal Summer: A Novel,Barbara Kingsolver,http://images.amazon.com/images/P/0060959037.0...,253,4.450593
115,East of Eden (Oprah's Book Club),John Steinbeck,http://images.amazon.com/images/P/0142004235.0...,134,4.447761
117,Neverwhere,Neil Gaiman,http://images.amazon.com/images/P/0380789019.0...,264,4.439394
121,The Secret Life of Bees,Sue Monk Kidd,http://images.amazon.com/images/P/0142001740.0...,772,4.432642
125,Illusions: The Adventures of a Reluctant Messiah,Richard Bach,http://images.amazon.com/images/P/0440204887.0...,101,4.425743
128,84 Charing Cross Road,Helene Hanff,http://images.amazon.com/images/P/0860074382.0...,125,4.416000
131,On Writing,Stephen King,http://images.amazon.com/images/P/0684853523.0...,135,4.414815
134,The Phantom Tollbooth,Norton Juster,http://images.amazon.com/images/P/0394820371.0...,123,4.414634
136,Coraline,Neil Gaiman,http://images.amazon.com/images/P/0380977788.0...,176,4.392045
139,Guilty Pleasures (Anita Blake Vampire Hunter (...,Laurell K. Hamilton,http://images.amazon.com/images/P/0441304834.0...,129,4.387597
142,Their Eyes Were Watching God: A Novel,Zora Neale Hurston,http://images.amazon.com/images/P/0060916508.0...,100,4.370000
143,Carrie,Stephen King,http://images.amazon.com/images/P/0451157443.0...,128,4.367188
151,"Tuesdays with Morrie: An Old Man, a Young Man,...",MITCH ALBOM,http://images.amazon.com/images/P/0385484518.0...,492,4.363821
153,The Valley of Horses,JEAN M. AUEL,http://images.amazon.com/images/P/0553250531.0...,132,4.363636

In [29]:
ratings_with_name.groupby('User-ID').count()['Book-Rating']>150

User-ID
2         False
8         False
9         False
10        False
12        False
          ...
278846    False
278849    False
278851    False
278852    False
278854    False
Name: Book-Rating, Length: 84007, dtype: bool

In [30]:
x = ratings_with_name.groupby('User-ID').count()['Book-Rating']>200
x[x]

User-ID
254       True
2276      True
2766      True
2977      True
3363      True
          ...
274301    True
274308    True
275970    True
277427    True
278418    True
Name: Book-Rating, Length: 641, dtype: bool

In [31]:
padhe_likhe_users = x[x].index

In [32]:
filtered_rating = ratings_with_name[ratings_with_name['User-ID'].isin(padhe_likhe_users)]

In [33]:
filtered_rating.groupby('Book-Title').count()['Book-Rating']>=25

Book-Title
 A Light in the Storm: The Civil War Diary of Amelia Martin, Fenwick Island, Delaware, 1861 (Dear America)    False
 Apple Magic (The Collector's series)                                                                         False
 Beyond IBM: Leadership Marketing and Finance for the 1990s                                                   False
 Dark Justice                                                                                                 False
 Earth Prayers From around the World: 365 Prayers, Poems, and Invocations for Honoring the Earth              False
                                                                                                              ...
Â¿QuÃ© me quieres, amor?                                                                                      False
Ã?ber den Wunsch, sich wohlzufÃ¼hlen: Geschichten                                                             False
Ã?ngeles fugaces (Falling Angels)                                                                             False
Ã?Â?stlich der Berge.                                                                                         False
Ã?Â?thique en toc                                                                                             False
Name: Book-Rating, Length: 84707, dtype: bool

In [34]:
y = filtered_rating.groupby('Book-Title').count()['Book-Rating']>=25
famous_books = y[y].index
y[y]

Book-Title
10 Lb. Penalty                                                       True
16 Lighthouse Road                                                   True
1984                                                                 True
1st to Die: A Novel                                                  True
2010: Odyssey Two                                                    True
                                                                     ...
You Belong To Me                                                     True
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values    True
Zlata's Diary: A Child's Life in Sarajevo                            True
Zoya                                                                 True
\O\" Is for Outlaw"                                                  True
Name: Book-Rating, Length: 1940, dtype: bool

In [35]:
final_ratings = filtered_rating[filtered_rating['Book-Title'].isin(famous_books)]
final_ratings

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
61,278418,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
63,3363,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
64,7158,0446520802,10,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
67,11676,0446520802,10,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
72,23768,0446520802,6,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
...,...,...,...,...,...,...,...,...,...,...
838727,274004,037572799X,0,In Pursuit of the Proper Sinner,Elizabeth George,2000,Random House Large Print Publishing,http://images.amazon.com/images/P/037572799X.0...,http://images.amazon.com/images/P/037572799X.0...,http://images.amazon.com/images/P/037572799X.0...
838895,274061,0451176227,0,Brain,Robin Cook,1993,Signet Book,http://images.amazon.com/images/P/0451176227.0...,http://images.amazon.com/images/P/0451176227.0...,http://images.amazon.com/images/P/0451176227.0...
838918,274061,1551663147,10,Fever,Elizabeth Lowell,1997,Mira,http://images.amazon.com/images/P/1551663147.0...,http://images.amazon.com/images/P/1551663147.0...,http://images.amazon.com/images/P/1551663147.0...
839773,275970,0865714215,0,Stormy Weather,Guy Dauncey,2001,New Society Publishers,http://images.amazon.com/images/P/0865714215.0...,http://images.amazon.com/images/P/0865714215.0...,http://images.amazon.com/images/P/0865714215.0...
839814,275970,1586210661,9,Me Talk Pretty One Day,David Sedaris,2001,Time Warner Audio Major,http://images.amazon.com/images/P/1586210661.0...,http://images.amazon.com/images/P/1586210661.0...,http://images.amazon.com/images/P/1586210661.0...

In [36]:
pt = final_ratings.pivot_table(index='Book-Title',columns='User-ID',values='Book-Rating')
pt.fillna(0,inplace=True)
pt

User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271448,271705,273979,274004,274061,274301,274308,275970,277427,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
10 Lb. Penalty,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16 Lighthouse Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2010: Odyssey Two,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zlata's Diary: A Child's Life in Sarajevo,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0

In [37]:
from sklearn.metrics.pairwise import cosine_similarity

In [38]:
similarity_scores = cosine_similarity(pt)

In [39]:
similarity_scores

array([[1.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.0620173 ],
       [0.        , 1.        , 0.        , ..., 0.        , 0.        ,
        0.09406486],
       [0.        , 0.        , 1.        , ..., 0.        , 0.08450515,
        0.0521102 ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.08450515, ..., 0.        , 1.        ,
        0.11219793],
       [0.0620173 , 0.09406486, 0.0521102 , ..., 0.        , 0.11219793,
        1.        ]])

In [41]:
similarity_scores.shape

(1940, 1940)

In [42]:
def recommend(book_name):
    # index fetch
    index = np.where(pt.index==book_name)[0][0]
    similar_items = sorted(list(enumerate(similarity_scores[index])),key=lambda x:x[1],reverse=True)[1:5]
    
    data = []
    for i in similar_items:
        item = []
        temp_df = books[books['Book-Title'] == pt.index[i[0]]]
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Title'].values))
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Author'].values))
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Image-URL-M'].values))
        
        data.append(item)
    
    return data

In [45]:
recommend('Animal Farm')

[['Poland',
  'James A. Michener',
  'http://images.amazon.com/images/P/0394533887.01.MZZZZZZZ.jpg'],
 ['Women in His Life',
  'Barbara Taylor Bradford',
  'http://images.amazon.com/images/P/0345345738.01.MZZZZZZZ.jpg'],
 ['1984',
  'George Orwell',
  'http://images.amazon.com/images/P/0451524934.01.MZZZZZZZ.jpg'],
 ['Midnight',
  'Dean R. Koontz',
  'http://images.amazon.com/images/P/0425118703.01.MZZZZZZZ.jpg']]